{% extends "base.html" %}
{% load static %}
{% block content %}
{% spaceless %}

    <div class="container mt-4">
        <ol class="breadcrumb">
            <li><a href="/" class="accent-color">Головна</a></li>
            <li><a href="{% url 'articles-list' %}" class="accent-color">Публікації</a></li>
            <li><a href="{{ item.category.get_absolute_url }}" class="accent-color">{{ item.category|upper }}</a></li>
            <li class="text-white">{{ item.title|upper }}</li>
        </ol>

        <div class="card mb-4">
            <div class="card-body">
                <h3 class="accent-color">
                    {{ item.title }}
                </h3>
                <h5 class="card-subtitle mb-2 text-muted">
                    {{ item.pub_date|date:"d E Y"|safe|linebreaks }}
                </h5>
                <div class="card-text">
                    {{ item.description|escape|safe }}

                    {% if item.images.all %}
                    {% include 'fotorama.html' with images=images %}
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </div>

{% endspaceless %}
{% endblock %}
